In [1]:
import numpy as np
import wxparams as wx
import pandas as pd

In [2]:
df_U = pd.read_csv('csv/uwind_43.599998474121094_144.5_20230701-20230731.csv')
df_V = pd.read_csv('csv/vwind_43.599998474121094_144.5_20230701-20230731.csv')
df_U

     Unnamed: 0         0
0             0  1.951070
1             1  2.324159
2             2  2.605505
3             3  2.122324
4             4  2.110092
..          ...       ...
739         739  1.131499
740         740  0.868502
741         741  0.721713
742         742  0.293578
743         743  0.477064

[744 rows x 2 columns]

In [ ]:
float(df_U.iloc[0,1])

In [ ]:
type(float(df_U.iloc[0,1]))

In [3]:
U = df_U.iloc[:,1]
V = df_V.iloc[:,1]
U, V

(0      1.951070
 1      2.324159
 2      2.605505
 3      2.122324
 4      2.110092
          ...
 739    1.131499
 740    0.868502
 741    0.721713
 742    0.293578
 743    0.477064
 Name: 0, Length: 744, dtype: float64,
 0     -2.128440
 1     -3.186544
 2     -3.400612
 3     -3.400612
 4     -3.749236
          ...
 739   -1.706422
 740   -1.486239
 741   -1.223242
 742   -0.538226
 743   -0.483180
 Name: 0, Length: 744, dtype: float64)

In [4]:
Wspd, Wdir = wx.UV_to_SpdDir(U, V) # UV_to_SpdDir(U, V)
Wspd, Wdir

(0      2.887375
 1      3.944082
 2      4.284019
 3      4.008543
 4      4.302238
          ...
 739    2.047478
 740    1.721395
 741    1.420278
 742    0.613087
 743    0.679009
 Name: 0, Length: 744, dtype: float64,
 0      317.489553
 1      323.894238
 2      322.541132
 3      328.031683
 4      330.628935
           ...
 739    326.452341
 740    329.699602
 741    329.459395
 742    331.389540
 743    315.364936
 Name: 0, Length: 744, dtype: float64)

In [5]:
size = Wspd.shape[0]
size

744

In [6]:
df_out = pd.DataFrame(index=range(size), columns=['wind speed', 'wind direction'])
df_out.iloc[:,0] = Wspd
df_out.iloc[:,1] = Wdir
df_out

    wind speed wind direction
0     2.887375     317.489553
1     3.944082     323.894238
2     4.284019     322.541132
3     4.008543     328.031683
4     4.302238     330.628935
..         ...            ...
739   2.047478     326.452341
740   1.721395     329.699602
741   1.420278     329.459395
742   0.613087      331.38954
743   0.679009     315.364936

[744 rows x 2 columns]

In [ ]:
df_out.to_csv(f"csv/wind-spd-dir_43.599998474121094_144.5_20230701-20230731.csv")